extends layout.pug 

block styles 
    link(rel="stylesheet", href="/css/success.css")

block title 
    article.center 
        h1 We're sorry 
        h2 The page you're looking for doesn't exist
    p You can use the links above or 
        span#link go back

block scripts 
    script(src="/js/404.js") 