extends layout.pug 

block meta
    meta(name="description", content="About Bletchley. Bletchley Technological Solutions Inc. is a colombian software development startup focused on creating effective and efficient software programs, apps and utilities to enhance user experience and generate faster and better results in tech-related businesses all around the world.")
    meta(name="keywords", content="")

block styles 
    link(rel="stylesheet", href="/css/about.css")

block title 
    h1 
    a(href="#about") 
        i.bi-arrow-down-short 

block body 
    section.container-fluid#about 
        p.service About Bletchley 
        article.text 
            p Bletchley Tech is a colombian software development startup focused on creating effective and efficient software programs, apps and utilities to enhance user experience and generate faster and better results in tech-related businesses all around the world.
    section.container-fluid#why 
        p.service Why Bletchley 
        article.text 
            h2 Quality is the Standard
            p At Bletchley, quality is a given in every project we take on. No matter the length, size, or complexity of the project, we follow best practices and quality guidelines to achieve the best product possible
    section.container-fluid#clients 
        p.service Client Relationship 
        article.text 
            h2 Partners. Not Clients
            p Our clients are not just clients. They're partners. We work closely with them to deeply understand their software needs and create a solution that meets and exceeds those needs
            a(href="/clients", title="Our Clients")
                button Our Clients
    section.container-fluid#mission 
        p.service Mission 
        article.text
            h2 Mission 
            p At Bletchley, we aim to create high-quality, secure and scalable software solutions at affordable prices, making it possible for all sorts of startups to compete with big enterprises in the digital arena and bringing the ditgital world closer to everyone, everywhere
    section.container-fluid#vision 
        p.service Vision
        article.text 
            h2 Vision 
            p At Bletchley, we strive to make the digital world available to everyone as we create a community of innovators and entrepeneurs bent on creating groundbreaking solutions to facilitate life
    section.container-fluid#team 
        p.service Our Team 
        article.text 
            h2 Our Team 
            p At Bletchley, we pride ourselves on having been born in a multicultural country and we strive to reflect that both in the people and companies we work with as well as ourselves
            a(href="/about/team") 
                button Our Team

block scripts 
    script(src="/js/about.js") 