extends layout.pug 

block meta
    meta(name="description", content="A mobile app is the best way to connect with your users and clients outside the Internet and provide them a memorable offline experience. Reach a greater audience by allowing your project to be viewed by thousands from the simplicity of a mobile app built specifically tailored to the needs and wants of your company and vision")
    meta(name="keywords", content="")

block styles 
    link(rel="stylesheet", href="/css/app.css")
    link(rel="stylesheet", href="/css/pricing.css")
    script(src="https://kit.fontawesome.com/313f6b6c56.js", crossorigin="anonymous")

block title 
    h1 
    a(href="#intro")
        i.bi-arrow-down-short 

block body 
    section.container-fluid.app#intro 
        article.text 
            p A mobile app is the best way to connect with your users and clients outside the Internet and provide them a memorable offline experience
    section.container-fluid#native 
        p.service Native App Development 
        article.text 
            h2 Native App Development 
            p Bring your content to the biggest mobile marketplace with a native Android app, reach the most exclusive mobile community with an iOS native app, or have the biggest outreach possible with a native app for each mobile operating system
            p.icons 
                i.fab.fa-java.fa-3x
                i.fab.fa-swift.fa-3x
    section.container-fluid#hybrid
        p.service Hybrid App Development 
        article.text 
            h2 Hybrid App Development 
            p Get all the benefits of reaching over 90% of the world's mobile users, all with a single rapid, concise and developer-friendly codebase that can be deployed to Android and iOS smartphones at the same time.
            p.icons
            i.fab.fa-react.fa-3x 
    section.container-fluid#pricing 
        h2 Pricing 
        article.row 
            aside.col-sm-12 
                .card.native 
                    .card-header 
                        h3 Native Development 
                        p 
                            span.price $12.99
                            | /hr
                    .card-body 
                        p The Native App Development package includes the following services:
                        ul.list-group.list-group-flush 
                            li.list-group-item UI/UX Design
                            li.list-group-item Design Implementation (Java, Swift)
                            li.list-group-item Database Integration
                                span.note *
                                p.note *
                                    abbr(title="Determined at Planning Stage") DPS
                    .card-footer 
                        button I'm interested
            aside.col-sm-12 
                .card.hybrid 
                    .card-header
                        h3 Hybrid Development
                        p 
                            span.price $19.99
                            | /hr
                    .card-body 
                        p The Hybrid App Development package includes the following services: 
                        ul.list-group.list-group-flush 
                            li.list-group-item UI/UX Design
                            li.list-group-item Design Implementation (Flutter, React Native)
                            li.list-group-item Database Integration
                                span.note *
                                p.note *
                                    abbr(title="Determined at Planning Stage") DPS 
                    .card-footer 
                        button I'm interested 

block scripts
    script(src="/js/app.js") 
    script(src="/js/interest.js") 
    script(src="/js/icons.js") 