extends layout.pug 

block styles 
    link(rel="stylesheet", href="/css/success.css")

block title 
    article.center 
        h1 We're sorry 
        h2 There was a problem connecting to the database