extends layout.pug 

block styles 
    link(rel="stylesheet", href="/css/success.css")
    link(rel="stylesheet", href="/css/failure.css")

block title
    article.center 
        i.bi-person-x-fill
        h1 There has been a problem with MailChimp
        h2 You can 
            a(href="/contact") try again
            |  or go to our 
            a(href="/") homepage 