extends layout.pug 

block meta
    meta(name="description", content="")
    meta(name="keywords", content="")

block styles 
    link(rel="stylesheet", href="/css/success.css")
    link(rel="stylesheet", href="/css/failure.css")

block title
    article.center 
        i.bi-person-x-fill
        h1 There has been a problem with the server 
        h2 You can 
            a(href="/contact") try again
            |  or go to our 
            a(href="/") homepage 