extends layout.pug

block meta
    <meta name="title" content="Frequently Asked Questions - Bletchley Inc.">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Frequently Asked Questions - Bletchley Inc.</title>

block styles
    <link rel="stylesheet" href="css/faq.css">

block title 
    <h1>Frequently Asked Questions</h1>
    <a href="#faq">
        <i class="bi-arrow-down-short"></i>
    </a>

block body 
    section.container-fluid#faq
        article 
            h3.question.active How long will development take? &Tab;
                span.indicator &#x25B4;
            aside.answer 
                p Development time varies according to every project's requirements. 
                p Normally, web development projects take between 100 and 300 hours in development (between two and six weeks), while app development projects might take between 150 and 350 hours (three to eight weeks).
        article
            h3.question How much does a website cost? &Tab;
                span.indicator &#x25BE;
            aside.answer 
                p Website cost will vary depending on the type of website you need. In average, a website would cost: 
                ul.list-group.list-group-flush
                    li.list-group-item $1000-$3000 (Front End Development)
                    li.list-group-item $1500-$4500 (Back End Development)
                    li.list-group-item $2000-$6000 (Full Stack Development)
        article 
            h3.question Will my site be mobile-friendly? &Tab;
                span.indicator &#x25BE;
            aside.answer 
                p Of course! We ensure your website is accesible on a wide range of devices.
        article 
            h3.question Does the cost include hosting? &Tab;
                span.indicator &#x25BE;
            aside.answer 
                <p>We do not offer web hosting plans for your project. However, you can look over our list of preferred hosting providers <a href="files/Web Hosting Providers.pdf" download="Hosting Providers - Bletchley Inc.">here</a> or we can help you choose a hosting provider according to your needs at no extra cost</p>
        article 
            h3.question How much does a mobile app cost? &Tab;
                span.indicator &#x25BE;
            aside.answer 
                p Mobile app cost differs between Native and Hybrid App Development as follows.
                ul.list-group.list-group-flush 
                    li.list-group-item $1950-$4550 (Native App Development)
                    li.list-group-item $2250-$5250 (Hybrid App Development)
        article 
            h3.question Does the cost include deployment to stores?
                span.indicator &#x25BE;
            aside.answer 
                p We do not deploy apps to Google Play and/or App Store as a part of development. 
                p You can go over information on submitting your app to the <a href="https://developer.apple.com/app-store/submitting/">App Store</a> and/or <a href="https://support.google.com/googleplay/android-developer/answer/9859152">Google Play</a>
        article
            h3.question When do I pay? &Tab;
                span.indicator &#x25BE;
            aside.answer 
                p Normally you would pay 10% of the total cost upfront to get us started. The rest is paid when your project is completed and has been delivered.
        article 
            h3.question Do you have any budget-friendly options? &Tab;
                span.indicator &#x25BE;
            aside.answer 
                p Our prices are defined to be as affordable as possible. &#10; If you aren't sure you can afford our services, please contact our sales department with your concerns at 
                    a(href="mailto:sales@bletchleyinc.com") sales@bletchleyinc.com

block scripts 
    script(src="js/faq.js")     