extends layout.pug

block meta
    meta(name="description", content="Bletchley Technological Solutions Inc. is a colombian software development startup focused on creating effective and efficient software programs, apps and utilities to enhance user experience and generate faster and better results in tech-related businesses all around the world.")

block styles 
    link(rel="stylesheet", href="/css/index.css")

block title 
    article.row 
        aside.col-lg-6 
            h1 
        aside.col-lg-6 
            p 
                em 
                    strong.josefin Quality 
                | Software 
                br
                | Made 
                em 
                    strong.josefin Affordable 
    a(href="#about") 
        i.bi-arrow-down-short

block body 
    section.container-fluid#about
        p.service About Us
        article.text 
            h2 Our Origins 
            p Bletchley Technological Solutions Inc. came to be as an attempt to eliminate the excessively high prices of software development services while providing the same high quality solutions.
            a(href="/about", title="About Bletchley")
                button About Us
    section.container-fluid#services 
        p.service Our Services
        article.text 
            h2 Software with Purpose 
            p Reach the horizon with software services and products designed and developed to be as cost efficient and time effective as possible.
            a(href="/services", title="Services at Bletchley") 
                button Our Services
    section.container-fluid#blog 
        p.service Blog 
        article.text 
            h2 Weekly Insights 
            p At Bletchley, we prefer actions over words. That's why instead of just telling our clients what we're capable of, we decided to show them just how much we know and how much we can achieve when it comes to software.
            a(href="https://thewebdevelopmentblog.net", title="Blog")
                button Blog
    section.container-fluid#clients
        p.service Our Clients
        article.text 
            h2 Partner Businesses
            p At our young age, we have taken on small-scale, simple projects as well as complex, data-driven web applications, which goes to prove our ability to adapt and deliver high quality products regardless of the project.
            a(href="/clients", title="Our Clients")
                button Our Clients 
    section.container-fluid#subscribe 
        p.service Newsletter
        article.text 
            h2 Join our newsletter
            p The world moves fast, and so does technology. Stay on top of the latest trends and keep yourself updated on tech news from all around the world with our newsletter.
            a(href="/subscribe", title="Subscribe")
                button Newsletter 

block scripts 
    script(src="/js/index.js") 