extends layout.pug 

block meta
    <meta name="title" content="Services - Bletchley Inc.">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Services - Bletchley Inc.</title>

block styles
    <link rel="stylesheet" href="css/services.css">

block title
    <h1></h1>
    <a href="#web">
        <i class="bi-arrow-down-short"></i>
    </a>

block body 
    <section class="container-fluid" id="web">
        <p class="service">Web Development</p>
        <article class="text">
            <h2>Web Development</h2>
            <p>Promote personal work, build your brand or simply expand your virtual presence through a beautiful, professionally crafted website created with the best tools in the market and the highest industry standards</p>
            <a href="/services/web" title="Web Development">
                <button>Learn More</button>
            </a>
        </article>
    </section>
    <section class="container-fluid" id="app">
        <p class="service">App Development</p>
        <article class="text">
            <h2>App Development</h2>
            <p>Reach a greater audience by allowing your project to be viewed by thousands from the simplicity of a mobile app built specifically tailored to the needs and wants of your company and vision</p>
            <a href="/services/app" title="App Development">
                <button>Learn More</button>
            </a>
        </article>
    </section>

block scripts 
    script(src="js/services.js") 