extends layout.pug 

block meta
    meta(name="description", content="Reach the horizon with software services and products designed and developed to be as cost efficient and time effective as possible.")

block styles 
    link(rel="stylesheet", href="/css/services.css")

block title 
    h1 
    a(href="#web") 
        i.bi-arrow-down-short

block body 
    section.container-fluid#web 
        p.service Web Development 
        article.text 
            h2 Web Development 
            p Promote personal work, build your brand or simply expand your virtual presence through a beautiful, professionally crafted website created with the best tools in the market and the highest industry standards
            a(href="/services/web", title="Web Development")
                button Web Development
    section.container-fluid#app 
        p.service App Development 
        article.text 
            h2 App Development
            p Reach a greater audience by allowing your project to be viewed by thousands from the simplicity of a mobile app built specifically tailored to the needs and wants of your company and vision
            a(href="/services/app", title="App Development")
                button App Development
    //- section.container-fluid#game
    //-     p.service Game Development
    //-     article.text 
    //-         h2 Game Development 
    //-         p Become part of the biggest industry in entertainment, recreation and leisure all over the world with a custom videogame playable on Android, iPhone or Desktop. Or all
    //-         a(href="/services/game", title="Game Development")
    //-             button Learn More
    //- section.container-fluid#enterprise 
    //-     p.service Enterprise Apps 
    //-     article.text 
    //-         h2 Enterprise Apps
    //-         p Advance your business with specialised software applications tailor-made to your business' needs and your own expectations to allow you to focus on driving clientele and getting the important work done 
    //-         a(href="/services/enterprise", title="Enterprise Apps")
    //-             button Learn More
    //- section.container-fluid#vr 
    //-     p.service Virtual Reality
    //-     article.text 
    //-         h2 Virtual Reality 
    //-         p Create an immersive experience like no other and allow your users to become a part of a world beyond the physical through a Virtual Reality application 
    //-         a(href="/services/vr", title="Virtual Reality")
    //-             button Learn More  

block scripts 
    script(src="/js/services.js") 