extends layout.pug 

block meta
    meta(name="description", content="The world moves fast, and so does technology. Stay on top of the latest trends and keep yourself updated on tech news from all around the world with our newsletter.")

block styles 
    link(rel="stylesheet", href="/css/subscribe.css")

block title 
    h1 
    a(href="#subscribe")
        i.bi-arrow-down-short

block body 
    section.container-fluid#subscribe
        aside
            h2 Subscribe
            p Join our newsletter and stay up-to-date with the latest tech news from all around the world
            form(method="POST")
                label(for="fname") First Name *
                input#fname(type="text", name="fname", required)
                label(for="lname") Last Name *
                input#lname(type="text", name="lname", required)
                label(for="email") Email *
                input#email(type="email", name="email", required)
                input(type="submit", value="Subscribe")

block scripts 
    script(src="/js/subscribe.js") 