extends layout.pug 

block meta
    meta(name="description", content="")
    meta(name="keywords", content="")

block styles 
    link(rel="stylesheet", href="/css/subscribe.css")

block title 
    h1 
    a(href="#subscribe")
        i.bi-arrow-down-short

block body 
    section.container-fluid#subscribe

block scripts 
    script(src="/js/subscribe.js") 