extends layout.pug 

block styles 
    link(rel="stylesheet", href="/css/success.css")

block title 
    article.center 
        i.bi-person-check-fill
        h1 Thanks for your interest 
        if path.includes("/contact") || path.includes("/landing")
            h2 We'll get back to you soon
        else if path.includes("/subscribe")
            h2 You have been successfully added to our newsletter
    p You'll be redirected to our homepage in a moment 

block scripts 
    script(src="/js/success.js") 