extends layout.pug 

block meta
    meta(name="description", content="")
    meta(name="keywords", content="")

block styles 
    link(rel="stylesheet", href="/css/success.css")

block title 
    article.center 
        i.bi-person-check-fill
        h1 Thanks for your interest 
        h2 We'll get back to you soon
    p You'll be redirected to our homepage in a moment 

block scripts 
    script(src="/js/success.js") 