extends layout.pug

block meta
    meta(name="description", content="")
    meta(name="keywords", content="")

block styles 
    link(rel="stylesheet", href="/css/team.css")

block title
    h1 
    a(href="#team") 
        i.bi-arrow-down-short

block body
    section.container-fluid#team 

block scripts 
    script(src="/js/team.js") 