extends layout.pug 

block meta
    meta(name="description", content="")
    meta(name="keywords", content="")

block styles 
    link(rel="stylesheet", href="/css/web.css")
    link(rel="stylesheet", href="/css/pricing.css")
    script(src="https://kit.fontawesome.com/313f6b6c56.js", crossorigin="anonymous")

block title 
    h1 
    a(href="#intro") 
        i.bi-arrow-down-short 

block body 
    section.container-fluid.web#intro 
        article.text 
            p In today's world, a noticeable website is the key to a strong web presence that leads to constant growth, more clients and increased revenues, whether it's a small business or a large corporation
    section.container-fluid#front 
        p.service Front-End Development 
        article.text 
            h2 Front-End Development 
            p We work with the best tools in the market to create stunning websites that engage users and constantly attract new visitors, always following Accessibility Guidelines and Best Practices
            p.icons 
                i.fab.fa-vuejs.fa-3x 
                i.fab.fa-angular.fa-3x 
                i.fab.fa-react.fa-3x 
    section.container-fluid#back
        p.service Back-End Development 
        article.text 
            h2 Back-End Development
            p We create a web server's logic with the best technologies and frameworks available and the latest features and utilities of each to ensure a website's correct functioning around the clock
            p.icons 
                i.fab.fa-python.fa-3x
                i.fab.fa-node-js.fa-3x
                i.fab.fa-laravel.fa-3x
    section.container-fluid#full 
        p.service Full Stack Development 
        article.text 
            h2 Full Stack Development 
            p We combine the best tools for both Front-End and Back-End Development to produce beautiful, full-fledged websites suited for medium-to-large businesses that continuously draw in clients
            p.icons 
                i.fab.fa-vuejs.fa-3x 
                i.fab.fa-node-js.fa-3x 
                i.fab.fa-angular.fa-3x
                i.fab.fa-python.fa-3x
    section.container-fluid#pricing 
        h2 Pricing
        article.row 
            aside.col-sm-12 
                .card.front
                    .card-header 
                        h3 Front-End Development
                        p
                            span.price $9.99
                            | /hr
                    .card-body 
                        p The Front-End Development package includes the following services:
                        ul.list-group.list-group-flush 
                            li.list-group-item Web Design (incl. UI/UX)
                            li.list-group-item Design Implementation
                            li.list-group-item Web App Front-End Creation 
                                span.note *
                                p.note * 
                                    abbr(title="To be determined") TBD
                    .card-footer 
                        button I'm interested
            aside.col-sm-12 
                .card.back
                    .card-header 
                        h3 Back-End Development
                        p
                            span.price $14.99
                            | /hr
                    .card-body 
                        p The Back-End Development package includes the following services:
                        ul.list-group.list-group-flush 
                            li.list-group-item Database Design &amp; Administration
                            li.list-group-item Web App Back-End Creation
                            li.list-group-item API Design &amp; Integration
                                span.note *
                                p.note * 
                                    abbr(title="To be determined") TBD
                    .card-footer 
                        button I'm interested
            aside.col-sm-12 
                .card.full
                    .card-header 
                        h3 Full Stack Development
                        p
                            span.price $19.99
                            | /hr
                    .card-body 
                        p The Full Stack Development package includes the following services:
                        ul.list-group.list-group-flush 
                            li.list-group-item Web Design and Implementation
                            li.list-group-item Web App Creation
                            li.list-group-item Database Design and Administration
                            li.list-group-item API Design and Integration 
                                span.note *
                                p.note * 
                                    abbr(title="To be determined") TBD
                    .card-footer 
                        button I'm interested

block scripts 
    script(src="/js/web.js") 
    script(src="/js/interest.js")
    script(src="/js/icons.js") 