#about
{
    background-image: url("./../images/about.jpg");
}
#about .text p
{
    padding: 3%;
    font-family: 'Jura';
    font-size: 2rem;
    font-weight: 700;
}   
#why
{
    background-image: url("./../images/why.jpg");
}
#mission, #vision
{
    background-position-y: bottom;
}
#mission
{
    background-image: url("./../images/mission.jpg");
}
#why, #mission, #team
{
    color: #FFFFFF;
}
#why .service, #mission .service, #team .service
{
    color: #AAAAAA;
}
#clients
{
    background-image: url("./../images/clients.jpg");
}
#vision
{
    background-image: url("./../images/vision.jpg");
}
#clients .service, #vision .service
{
    color: #555555;
}
#team
{
    background-image: url('./../images/team.jpg');
}
@media screen and (max-width: 991px)
{
    #about .text p
    {
        width: 70%;
    }
}
@media screen and (max-width: 767px)
{
    #about .text p
    {
        width: 80%;
    }
}
@media screen and (max-width: 550px)
{
    #about .text p
    {
        width: 90%;
    }
    h2
    {
        width: 90%;
        margin: 0 auto 2%;
    }
    .text p
    {
        width: 70%;
    }
}
@media screen and (max-width: 450px)
{
    #about .text p
    {
        font-size: 1.8rem;
    }
}
@media screen and (max-width: 400px)
{
    #about .text p
    {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 300px)
{
    h2
    {
        margin: 0 auto 5%;
    }
    .text p
    {
        width: 90%;
    }
}
@media screen and (max-width: 230px)
{
    #about .text p
    {
        font-size: 1.3rem;
    }
}