section, header
{
    position: relative;
    min-height: 100vh;
    height: auto;
    padding: 2%;
    max-width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#title
{
    background-color: #000000;
    padding: 0;
    color: #FFFFFF;
}
nav.navbar
{
    padding: 1% 2%;
    background-color: #000000;
    font-family: 'Syne';
    border-bottom: 1px solid #FFFFFF;
}
nav.navbar .navbar-brand
{
    color: #FFFFFF;
    font-size: 1.5rem;
    margin-right: 0;
}
nav.navbar a
{
    padding: 0;
}
nav.navbar button
{
    border: 0;
}
nav.navbar button:focus
{
    box-shadow: none;
}
.bi-list
{
    font-size: 2rem;
}
nav.navbar #navbar .navbar-nav
{
    margin-left: auto;
}
nav.navbar #navbar .navbar-nav .nav-link
{
    color: #FFFFFF;
    font-size: 1.2rem;
    padding: 0;
    margin: 0 0.5rem;
}
nav.navbar .navbar-brand, nav.navbar #navbar .navbar-nav .nav-link
{
    display: inline-block;   
    position: relative;
}
nav.navbar .navbar-brand::after, nav.navbar #navbar .navbar-nav .nav-link::after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    width: 100%;
    height: 2px;
    transform-origin: bottom left;
    background-color: #FFFFFF;
    transition: transform 0.2s ease-out;
}
nav.navbar #navbar .navbar-nav .nav-link::after
{
    transform-origin: bottom right;
}
nav.navbar .navbar-brand:hover::after, nav.navbar #navbar .navbar-nav .nav-link:hover::after
{
    transform: scaleX(1);
    transform-origin: bottom left;
}
h1
{
    font-family: 'Syne';
    font-size: 4rem;
    font-weight: 700;
}
.fade
{
    animation: fade 1.5s ease-out;
}
.bi-arrow-down-short
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4%;
    font-size: 3.5rem;
    color: #FFFFFF;
    opacity: 0;
}
.text
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.service
{
    margin: 0;
    text-align: center;
    font-family: 'Spartan';
    font-weight: 700;
    color: #555555;
    width: 100%;
    font-size: 1.1rem;
}
h2
{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}
.text p
{
    width: 60%;
    margin: 0 auto 1%;
    font-size: 1.5rem;
    font-family: 'Podkova';
    line-height: 1.1;
}
.text button
{
    border: 0;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    font-family: 'Syne';
}
#links
{
    min-height: auto;
    padding: 2% 5%;
    font-family: 'Syne';
}
#links .row
{
    padding: 1% 0;
    border-bottom: 1px solid;
}
h3
{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 3%;
}
#links .col-md-6:first-of-type a
{
    display: block;
    margin-bottom: 1%;
    transition: all 0.2s linear;
}
#links .col-md-6:first-of-type a:hover
{
    border-left: 5px solid;
    padding-left: 2%;
}
#links .col-md-6:first-of-type
{
    border-right: 1px solid;
}
#links .col-md-6:first-of-type a
{
    text-decoration: none;
}
#links .col-md-6 p
{
    margin-bottom: 0;
}
#links .col-md-6 p, #links .col-md-6 a, address
{
    font-size: 1.2rem;
    color: inherit;
}
#links .col-md-6 a[href="mailto:contact@bletchleytech.com"]
{
    margin-right: 1%;
}
#links .col-md-6:last-of-type > p a
{
    font-size: 1.3rem;
}
#links .col-md-6 a.social
{
    text-decoration: none;
    display: block;
    transition: color 0.1s linear;
}
#links .col-md-6 a.social i
{
    font-size: 1.5rem;
    margin-right: 2%;
}
#links .col-md-6 a[title="LinkedIn"]:hover
{
    color: #0077B5;
}
#links .col-md-6 a[title="Facebook"]:hover
{
    color: #4267B2;
}
#links .col-md-6 a[title="Instagram"]:hover
{
    color: #BC2A8D;
}
#links .col-md-6 a[title="Twitter"]:hover
{
    color: #55ACEE;
}
.copy
{
    padding-top: 2%;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Spartan';
    font-weight: 700;
}
@keyframes down
{
    from {
        opacity: 0;
        bottom: 4%;
    } to {
        opacity: 1;
        bottom: 1%;
    }
}