section
{
    position: relative;
    min-height: 100vh;
    height: auto;
    padding: 2%;
    max-width: 100vw;
}
#title
{
    background-color: #000000;
    padding: 0;
    color: #FFFFFF;
}
nav.navbar
{
    padding: 1% 2%;
    background-color: #000000;
    font-family: 'Syne';
    border-bottom: 1px solid #FFFFFF;
}
nav.navbar .navbar-brand
{
    color: #FFFFFF;
    font-size: 1.5rem;
    margin-right: 0;
}
nav.navbar a
{
    padding: 0;
}
nav.navbar button
{
    border: 0;
}
nav.navbar button:focus
{
    box-shadow: none;
}
.bi-list
{
    font-size: 2rem;
}
nav.navbar #navbar .navbar-nav
{
    margin-left: auto;
}
nav.navbar #navbar .navbar-nav .nav-link
{
    color: #FFFFFF;
    font-size: 1.2rem;
}
nav.navbar .navbar-brand, nav.navbar #navbar .navbar-nav .nav-link
{
    display: inline-block;   
    position: relative;
}
nav.navbar .navbar-brand::after, nav.navbar #navbar .navbar-nav .nav-link::after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    width: 100%;
    height: 2px;
    transform-origin: bottom left;
    background-color: #FFFFFF;
    transition: transform 0.2s ease-out;
}
nav.navbar #navbar .navbar-nav .nav-link::after
{
    transform-origin: bottom right;
}
nav.navbar .navbar-brand:hover::after, nav.navbar #navbar .navbar-nav .nav-link:hover::after
{
    transform: scaleX(1);
    transform-origin: bottom left;
}
h1
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Syne';
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    width: 100%;
}
.bi-arrow-down-short
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4%;
    font-size: 3.5rem;
    color: #FFFFFF;
    opacity: 0;
}
#contact
{
    background-image: url("./../images/contact.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
}
h2
{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}
form
{
    font-family: 'Jura';
}
#contact .col-md-6 
{
    padding: 5% 3%;
}
label
{
    font-weight: 700;
    margin-top: 2%;
}
label:first-child
{
    margin-top: 0;
}
.required
{
    color: #FF0000;
}
input.form-control, select.form-select, textarea.form-control
{
    background-color: #202020;
    color: #FFFFFF;
    width: 70%;
}
input.form-control:focus, select.form-select:focus, textarea.form-control:focus
{
    background-color: #000000;
    box-shadow: none;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}
.form-text
{
    margin-bottom: 0;
    color: #DDDDDD;
}
input[type="submit"]
{
    margin-top: 5%;
    padding: 2% 5%;
    font-weight: 700;
}
input[type="submit"]:focus
{
    box-shadow: none;
}
#links
{
    min-height: auto;
    padding: 2% 5%;
    font-family: 'Syne';
}
#links .row
{
    padding: 1% 0;
    border-bottom: 1px solid;
}
h3
{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 3%;
}
#links .col-md-6:first-of-type a
{
    display: block;
    margin-bottom: 1%;
}
#links .col-md-6:first-of-type
{
    border-right: 1px solid;
}
#links .col-md-6:first-of-type a
{
    text-decoration: none;
}
#links .col-md-6 p
{
    margin-bottom: 0;
}
#links .col-md-6 p, #links .col-md-6 a, address
{
    font-size: 1.2rem;
    color: inherit;
}
#links .col-md-6 a.social i
{
    font-size: 1.5rem;
    margin-right: 2%;
}
#links .col-md-6 a.social
{
    text-decoration: none;
}
.bi-linkedin:hover
{
    color: #0077B5;
}
.bi-facebook:hover
{
    color: #4267B2;
}
.bi-instagram:hover
{
    color: #BC2A8D;
}
.bi-twitter:hover
{
    color: #55ACEE;
}
.copy
{
    padding-top: 2%;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Spartan';
    font-weight: 700;
}
@keyframes down
{
    from {
        opacity: 0;
        bottom: 4%;
    } to {
        opacity: 1;
        bottom: 1%;
    }
}
@media screen and (max-width: 991px)
{
    input.form-control, select.form-select, textarea.form-control
    {
        width: 85%;
    }
}
@media screen and (max-width: 767px)
{
    #contact .col-md-6
    {
        padding: 1% 5%;
    }
    input[type="submit"]
    {
        padding: 1% 4%;
    }
    #links .col-md-6
    {
        padding: 3% 1%;
    }
    #links .col-md-6:first-of-type
    {
        border: 0;
        border-bottom: 1px solid;
    }
    #links .social + br
    {
        display: none;
    }
}
@media screen and (max-width: 450px)
{
    h1
    {
        width: 90%;
    }
}
@media screen and (max-width: 400px)
{
    h1
    {
        font-size: 3rem;
    }
    #contact
    {
        padding: 8% 5%;
    }
    h2
    {
        font-size: 2.2rem;
    }
    h3
    {
        font-size: 1.2rem;
    }
    #links .col-md-6 p, #links .col-md-6 a, address
    {
        font-size: 1rem;
    }
    .copy
    {
        padding-top: 3%;
    }
}
@media screen and (max-width: 300px)
{
    h1
    {
        font-size: 2.5rem;
    }
    input.form-control, select.form-select, textarea.form-control
    {
        width: 95%;
    }
    input[type="submit"]
    {
        padding: 2% 5%;
    }
    #links .col-md-6
    {
        padding: 2%;
    }
}