#contact
{
    background-image: url("./../images/contact.jpg");
    color: #FFFFFF;
}
form
{
    font-family: 'Jura';
}
#contact .col-md-6 
{
    padding: 3%;
}
label
{
    font-weight: 700;
    margin-top: 2%;
}
label:first-child
{
    margin-top: 0;
}
.required
{
    color: #FF0000;
}
input.form-control, select.form-select, textarea.form-control
{
    background-color: #202020;
    color: #FFFFFF;
    width: 80%;
}
input.form-control:focus, select.form-select:focus, textarea.form-control:focus
{
    background-color: #000000;
    box-shadow: none;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}
.form-text
{
    margin-bottom: 0;
    color: #DDDDDD;
}
.form-text.error
{
    padding: 0 1% 1%;
    color: #FF0000;
    animation: text 1.5s ease-in-out;
}
input[type="submit"]
{
    margin-top: 5%;
    padding: 2% 5%;
    font-weight: 700;
}
input[type="submit"]:focus
{
    box-shadow: none;
}
@keyframes text
{
    from {background-color: #FF0000;color:#FFFFFF;}
    to {background-color:transparent;color:#FF0000;}
}
@media screen and (max-width: 991px)
{
    input.form-control, select.form-select, textarea.form-control
    {
        width: 85%;
    }
}
@media screen and (max-width: 767px)
{
    #contact .col-md-6
    {
        padding: 1% 5%;
    }
    input[type="submit"]
    {
        padding: 1% 4%;
    }
}
@media screen and (max-width: 450px)
{
    h1
    {
        width: 90%;
    }
}
@media screen and (max-width: 400px)
{
    #contact
    {
        padding: 8% 5%;
    }
    input.form-control, select.form-select, textarea.form-control
    {
        width: 95%;
    }
}
@media screen and (max-width: 300px)
{
    input[type="submit"]
    {
        padding: 2% 5%;
    }
}