#intro
{
    background-image: url("./../images/game/intro.jpg");
}
#intro .text p
{
    padding: 3%;
    font-family: 'Jura';
    font-size: 2.5rem;
    font-weight: 700;
}
#mobile
{
    background-image: url('./../images/game/mobile.jpg');
    color: #FFFFFF;
}
#mobile .service
{
    color: #CCCCCC;
}