@media screen and (max-width: 991px)
{
    nav.navbar #navbar .navbar-nav .nav-link
    {
        margin: 0;
    }
}
@media screen and (max-width: 767px)
{
    #links .col-md-6
    {
        padding: 3% 1%;
    }
    #links .col-md-6:first-of-type
    {
        border: 0;
        border-bottom: 1px solid;
    }
    #links .social + br
    {
        display: none;
    }
}
@media screen and (max-width: 550px)
{
    .text p
    {
        width: 75%;
    }
}
@media screen and (max-width: 400px)
{
    nav.navbar .navbar-brand
    {
        font-size: 1.3rem;
    }
    nav.navbar .navbar-brand::after, nav.navbar #navbar .navbar-nav .nav-link::after
    {
        height: 0.1rem;
    }
    .bi-list
    {
        font-size: 1.8rem;
    }
    nav.navbar #navbar .navbar-nav .nav-link
    {
        font-size: 1rem;
    }
    h1
    {
        font-size: 3rem;
    }
    .service
    {
        font-size: 0.9rem;
    }
    h2
    {
        font-size: 2.2rem;
    }
    .text p
    {
        font-size: 1.3rem;
        margin-bottom: 3%;
    }
    .text button
    {
        font-size: 0.9rem;
    }
    h3
    {
        font-size: 1.2rem;
    }
    #links .col-md-6 p, #links .col-md-6 a, address
    {
        font-size: 1rem;
    }
    #links .col-md-6 a.social i
    {
        font-size: 1.34em;
    }
    .copy
    {
        padding-top: 3%;
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 300px)
{
    h1
    {
        font-size: 2.5rem;
    }
    #links .col-md-6
    {
        padding: 2%;
    }
}
@media screen and (max-width: 230px)
{
    h1
    {
        font-size: 2rem;
    }
    .bi-arrow-down-short
    {
        font-size: 3rem;
    }
}