section
{
    position: relative;
    min-height: 100vh;
    height: auto;
    padding: 2%;
    max-width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#title
{
    background-color: #000000;
    padding: 0;
    color: #FFFFFF;
}
nav.navbar
{
    padding: 1% 2%;
    background-color: #000000;
    font-family: 'Syne';
    border-bottom: 1px solid #FFFFFF;
}
nav.navbar .navbar-brand
{
    color: #FFFFFF;
    font-size: 1.5rem;
    margin-right: 0;
}
nav.navbar a
{
    padding: 0;
}
nav.navbar button
{
    border: 0;
}
nav.navbar button:focus
{
    box-shadow: none;
}
.bi-list
{
    font-size: 2rem;
}
nav.navbar #navbar .navbar-nav
{
    margin-left: auto;
}
nav.navbar #navbar .navbar-nav .nav-link
{
    color: #FFFFFF;
    font-size: 1.2rem;
}
nav.navbar .navbar-brand, nav.navbar #navbar .navbar-nav .nav-link
{
    display: inline-block;   
    position: relative;
}
nav.navbar .navbar-brand::after, nav.navbar #navbar .navbar-nav .nav-link::after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    width: 100%;
    height: 2px;
    transform-origin: bottom left;
    background-color: #FFFFFF;
    transition: transform 0.2s ease-out;
}
nav.navbar #navbar .navbar-nav .nav-link::after
{
    transform-origin: bottom right;
}
nav.navbar .navbar-brand:hover::after, nav.navbar #navbar .navbar-nav .nav-link:hover::after
{
    transform: scaleX(1);
    transform-origin: bottom left;
}
h1
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Syne';
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    width: 100%;
}
.bi-arrow-down-short
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4%;
    font-size: 3.5rem;
    color: #FFFFFF;
    opacity: 0;
}
#web, #game, #vr
{
    color: #FFFFFF;
}
#web
{
    background-image: url("./../images/web.jpg");
}
.service
{
    margin: 0;
    text-align: center;
    font-family: 'Spartan';
    font-weight: 700;
    width: 100%;
    font-size: 1.1rem;
    color: #555555;
}
#web .service, #game .service, #vr .service
{
    color: #AAAAAA;
}
.text
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
h2
{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3rem;
}
.text p
{
    width: 60%;
    margin: 0 auto 1%;
    font-size: 1.5rem;
    font-family: 'Podkova';
    line-height: 1.1;
}
.text button
{
    border: 0;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    font-family: 'Syne';
}
#app
{
    background-image: url("./../images/app.jpg");
}
#app button, #enterprise button
{
    background-color: #000000;
    color: #FFFFFF;
}
#game
{
    background-image: url("./../images/game.jpg");
}
#enterprise
{
    background-image: url("./../images/enterprise.jpg");
}
#vr
{
    background-image: url("./../images/vr.jpg");
}
#links
{
    min-height: auto;
    padding: 2% 5%;
    font-family: 'Syne';
}
#links .row
{
    padding: 1% 0;
    border-bottom: 1px solid;
}
h3
{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 3%;
}
#links .col-md-6:first-of-type a
{
    display: block;
    margin-bottom: 1%;
}
#links .col-md-6:first-of-type
{
    border-right: 1px solid;
}
#links .col-md-6:first-of-type a
{
    text-decoration: none;
}
#links .col-md-6 p
{
    margin-bottom: 0;
}
#links .col-md-6 p, #links .col-md-6 a, address
{
    font-size: 1.2rem;
    color: inherit;
}
#links .col-md-6 a.social
{
    text-decoration: none;
}
#links .col-md-6 a.social i
{
    font-size: 1.5rem;
    margin-right: 2%;
}
.bi-linkedin:hover
{
    color: #0077B5;
}
.bi-facebook:hover
{
    color: #4267B2;
}
.bi-instagram:hover
{
    color: #BC2A8D;
}
.bi-twitter:hover
{
    color: #55ACEE;
}
.copy
{
    padding-top: 2%;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Spartan';
    font-weight: 700;
}
@keyframes down
{
    from {
        opacity: 0;
        bottom: 4%;
    } to {
        opacity: 1;
        bottom: 1%;
    }
}
@media screen and (max-width: 767px)
{
    #links .col-md-6
    {
        padding: 3% 1%;
    }
    #links .col-md-6:first-of-type
    {
        border: 0;
        border-bottom: 1px solid;
    }
    #links .social + br
    {
        display: none;
    }
}
@media screen and (max-width: 550px)
{
    .text p
    {
        width: 75%;
    }
}
@media screen and (max-width: 400px)
{
    h1
    {
        font-size: 3rem;
    }
    .service
    {
        font-size: 0.9rem;
    }
    h2
    {
        font-size: 2.2rem;
    }
    .text p
    {
        font-size: 1.3rem;
        margin-bottom: 3%;
    }
    .text button
    {
        font-size: 0.9rem;
    }
    h3
    {
        font-size: 1.2rem;
    }
    #links .col-md-6 p, #links .col-md-6 a, address
    {
        font-size: 1rem;
    }
    .copy
    {
        padding-top: 3%;
    }
}
@media screen and (max-width: 300px)
{
    h1
    {
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 230px)
{
    h1
    {
        font-size: 2rem;
    }
    .bi-arrow-down-short
    {
        font-size: 3rem;
    }
}