#web, #game, #vr
{
    color: #FFFFFF;
}
#web
{
    background-image: url("./../images/services/web.jpg");
}
#web .service, #game .service, #vr .service
{
    color: #AAAAAA;
}
#app
{
    background-image: url("./../images/services/app.jpg");
    background-position: right center;
}
#app button, #enterprise button
{
    background-color: #000000;
    color: #FFFFFF;
}
#game
{
    background-image: url("./../images/services/game.jpg");
}
#enterprise
{
    background-image: url("./../images/services/enterprise.jpg");
}
#vr
{
    background-image: url("./../images/services/vr.jpg");
}