h1
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
#web, #game, #vr
{
    color: #FFFFFF;
}
#web
{
    background-image: url("./../images/web.jpg");
}
#web .service, #game .service, #vr .service
{
    color: #AAAAAA;
}
#app
{
    background-image: url("./../images/app.jpg");
    background-position: right center;
}
#app button, #enterprise button
{
    background-color: #000000;
    color: #FFFFFF;
}
#game
{
    background-image: url("./../images/game.jpg");
}
#enterprise
{
    background-image: url("./../images/enterprise.jpg");
}
#vr
{
    background-image: url("./../images/vr.jpg");
}