#subscribe
{
    border-bottom: 1px solid;
}
.center
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
}
h2 + p
{
    text-align: center;
    font-family: 'Exo';
    font-size: 1.2rem;
}
form
{
    text-align: center;
}
form *
{
    display: block;
    margin: 0 auto;
    font-family: 'Syne';
}
form label
{
    font-size: 1.1rem;
}
form input:not([type="submit"])
{
    margin-bottom: 2%;
    width: 30%;
    padding: 0.2rem;
    text-align: center;
}
form input[type="submit"]
{
    padding: 0.2rem 1rem;
    background-color: transparent;
    color: #000000;
    border: 1px solid #555555;
    border-radius: 5px;
    transition: all 0.2s linear;
}
form input[type="submit"]:hover
{
    background-color: #000000;
    color: #FFFFFF;
}
@media screen and (max-width: 991px)
{
    form input:not([type="submit"])
    {
        width: 40%;
    }
}
@media screen and (max-width: 750px)
{
    h2 + p
    {
        font-size: 1.1rem;
    }
    form input:not([type="submit"])
    {
        width: 50%;
        margin-bottom: 3%;
    }
}
@media screen and (max-width: 500px)
{
    form input:not([type="submit"])
    {
        width: 75%;
    }
}
@media screen and (max-width: 400px)
{
    h2 + p
    {
        font-size: 1rem;
    }
    form label
    {
        font-size: 1rem;
    }
}